:root {
	--container-width: 1200px;
	--container-padding: 30px;

	--font-family: "Raleway", sans-serif;
	--second-family: "Lato", sans-serif;
	--third-family: "Ruberoid", sans-serif;
	--font3: "Inter", sans-serif;

	--black: #0d233b;
	--gray-text: #686868;
	--white: #fff;
	--red: #f57676;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

// .dark {
//     --page-bg: #252526;
//     --text-color: #fff;
// }