footer{
    background: #279a59;
    padding: 50px 0;
    .footer{
        display: flex;
        justify-content: space-between;
        .footer-info{
            p{
                margin-top: 15px;
                margin-bottom: 8px;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;
                color: var(--white);
            }
            a{
                font-family: var(--font-family);
                font-weight: 600;
                font-size: 14px;
                line-height: 140%;
                color: var(--white);
            }
        }
        .footer-menu{
            display: flex;
            ul{
                margin-right: 48px;
                h3{
                    margin-bottom: 15px;
                    font-family: var(--font-family);
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 140%;
                    color: var(--white);
                }
                li{
                    margin-bottom: 10px;
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    color: var(--white);
                    a{
                        font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                        color: var(--white);
                    }
                }
                li:last-child{
                    margin-bottom: 0;
                }
            }
            ul:last-child{
                margin-right: 0;
            }
        }
    }   
}