/* Base */
@import "./base/reset";
@import "./base/vars";
@import "./base/base";
@import "./base/utils";
@import "./base/containers";
@import "./base/sticky-footer";
@import "./base/fonts";

/* Blocks */
@import "./blocks/*.scss";
.title{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    color: var(--black);
}
.banner{
    background: linear-gradient(180deg, #3bb96d 0%, #279a59 100%);
    .banner-zerg{
        background-image: url(../img/banner-zer.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
}
.swiper-slide{
    padding: 108px 0;
    position: relative;
    h2{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 60px;
        line-height: 110%;
        color: var(--white);
        max-width: 450px;
    }
    p{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: var(--white);
        max-width: 450px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    button{
        background: var(--white);
        border-radius: 30px;
        padding: 13px 76px 13px 53px;
        span{
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 16px;
            line-height: 140%;
            background: linear-gradient(180deg, #3bb96d 0%, #279a59 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: relative;
        }
        span::after{
            position: absolute;
            content: '';
            background-image: url(../img/arrow.svg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 18px;
            height: 18px;
            top: 50%;
            transform: translateY(-50%);
            right: -23px;
        }
    }
    img{
        position: absolute;
        right: 0;
        top: 7px;
        z-index: -1;
    }
}
.swiper-pagination-bullet{
    width: 12px !important;
    height: 12px !important;
    border: 1px solid var(--white) !important;
    opacity: 1 !important;
    background: transparent !important;
}
.swiper-pagination-bullet-active{
    background: var(--white) !important;
}
.about{
    padding-top: 130px;
    .about-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .about-info{
        P{
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: var(--gray-text);
            margin-top: 20px;
            max-width: 463px;
        }
        }
    }
    img{
        border-radius: 5px;
        width: 657px;
        height: 406px;
        object-fit: cover;
    }
}
.work{
    padding: 130px 0;
    .work-box{
        .work-nav{
            display: flex;
            justify-content: space-between;
            position: relative;
            align-items: center;
            margin-bottom: 42px;
            button{
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 16px;
                line-height: 140%;
                color: var(--white);
                padding: 13px 52px 13px 30px;
                background: linear-gradient(180deg, #3bb96d 0%, #279a59 100%);
                border-radius: 30px;
            }
            button::after{
                content: '';
                position: absolute;
                background: url('../img/arrow-white.svg');
                background-repeat: no-repeat;
                background-size: cover;
                width: 18px;
                height: 18px;
                top: 50%;
                transform: translate(5px, -50%); // + отступ
            }
        }
        .work-info{
            display: flex;
            justify-content: space-between;
            .work-item{
                padding-bottom: 20px;
                box-shadow: 0 4px 20px 0 rgba(52, 52, 52, 0.14);
                border-radius: 0 0 5px 5px;
                img{
                    border-radius: 5px 5px 0 0;
                }
                h3{
                    font-family: var(--font-family);
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 140%;
                    color: var(--black);
                    padding: 20px 20px 10px 20px
                }
                a{
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    background: linear-gradient(180deg, #3bb96d 0%, #279a59 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin-left: 20px;
                    position: relative;
                }
                a::before{
                    content: '';
                    position: absolute;
                    height: 1px;
                    width: 100%;
                    background: linear-gradient(180deg, #3bb96d 0%, #279a59 100%);
                    bottom: 1px;
                }
            }
        }
    }
}
.our-stocks{
    padding: 130px 0;
    .stocks-parent {  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 23px 20px;
        grid-auto-flow: row;
        margin-top: 40px;
        grid-template-areas:
            "A A b c"
            "A A d e";
        .stocks-div1 { 
            grid-area: A; 
            padding: 30px 30px 24px 30px;
            background: linear-gradient(180deg, #3bb96d 0%, #279a59 100%);
            border-radius: 5px;
            position: relative;
            h3{
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 30px;
                line-height: 140%;
                color: var(--white);
                margin-bottom: 20px;
            }
            .stocks-info{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: var(--white);
                max-width: 318px;
                margin-bottom: 20px;
            }
            .duration{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: var(--white);
                margin-bottom: 0;
            }
            .date{
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 18px;
                line-height: 140%;
                color: var(--white);
                margin-bottom: 20px;
            }
            button{
                padding: 9px 57px 9px 34px;
                background: var(--white);
                border-radius: 30px;
                span{
                    position: relative;
                    font-family: var(--font-family);
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 140%;
                    background: linear-gradient(180deg, #3bb96d 0%, #279a59 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                span::after{
                    position: absolute;
                    content: '';
                    background-image: url(../img/arrow.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 18px;
                    height: 18px;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -23px;
                }
            }
            img{
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
        .stocks-div2 { 
            grid-area: b;
            background: #6567f2;
        }
        .stocks-div3 { 
            grid-area: c;
            background: var(--red);
        }
        .stocks-div4 { 
            grid-area: d;
            background: #ffdb5c;
            h3{
                color: var(--black) !important;
            }
            .duration{
                color: var(--black) !important;
            }
            .date{
                color: var(--black) !important;
            }
        }
        .stocks-div5 { 
            grid-area: e;
            background: #27c8da;
        }
        .stocks-item{
            padding: 10px;
            border-radius: 5px;
            position: relative;
            h3{
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 20px;
                line-height: 140%;
                color: var(--white);
                margin-bottom: 7px;
            }
            .duration{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 12px;
                line-height: 140%;
                color: var(--white);
            }
            .date{
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 18px;
                line-height: 140%;
                color: var(--white);
                margin-bottom: 48px;
            }
            button{
                padding: 5px 15px;
                background: var(--white);
                border-radius: 30px;
                span{
                    font-family: var(--font-family);
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 140%;
                    background: linear-gradient(180deg, #3bb96d 0%, #279a59 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            img{
                position: absolute;
                bottom: 4px;
                right: 0;
                width: 139px;
                height: 123px;
            }
        }
    }
}
.hospital{
    padding: 130px 0;
    background: #f1f5f8;
    .advantages{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 30px;
        .advantages-item{
            padding: 14px;
            padding-right: 39px;
            border-radius: 5px;
            background: linear-gradient(180deg, #27c8da 0%, #24bfd0 100%);
            display: flex;
            align-items: center;
            .circle{
                width: 70px;
                height: 70px;
                border-radius: 100%;
                background: var(--white);
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 20px;
            }
            p{
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 16px;
                line-height: 140%;
                color: var(--white);
                max-width: 224px;
            }
        }
    }
    .hospital-info{
        display: flex;
        justify-content: space-between;
        img{
            border-radius: 5px;
        }
        .text{
            p{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: var(--gray-text);
                max-width: 463px;
                margin-bottom: 22px;
            }
            button{
                margin-top: 6px;
                background: linear-gradient(180deg, #3bb96d 0%, #279a59 100%);
                border-radius: 30px;
                padding: 13px 65px;
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 16px;
                line-height: 140%;
                color: var(--white);
            }
        }
    }
}
.equipment{
    padding: 130px 0;
    .equipment-box{
        margin-top: 112px;
        display: flex;
        justify-content: space-between;
        .equipment-item{
            border-radius: 60px;
            background: #f4f6fa;
            padding: 206px 72px 64px 30px;
            position: relative;
            img{
                position: absolute;
                left: 50%;
                top:-72px;
                transform: translateX(-50%);
            }
            h3{
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 30px;
                line-height: 140%;
                color: var(--black);
                margin-bottom: 15px;
            }
            ul{
                li{
                    position: relative;
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 140%;
                    color: var(--gray-text);
                    margin-left: 21px;
                    margin-bottom: 15px;
                }
                li:last-child{
                    margin-bottom: 0;
                }
                li:before{
                    position: absolute;
                    content: "";
                    background-image: url('../img/marker.svg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 16px;
                    height: 18px;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -21px;
                }
            }
        }
    }
}
.our-advantages{
    padding: 130px 0;
    .advantages-box{
        border-radius: 10px;
        background: #f4f6fa;
        padding: 30px 20px;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        .advantages-points{
            counter-reset: item; 
            list-style-type: none; 
            padding-left: 0;
            flex-grow: 1;
            li{
                counter-increment: item; 
                display: flex;
                align-items: center;
                padding: 11px 0;
                padding-left: 10px;
                margin-bottom: 8px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                cursor: pointer;
                span{
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    color: var(--black);
                }
            }
            li::before{
                content: "0" counter(item); 
                margin-right: 10px;
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 22px;
                line-height: 140%;
                color: var(--black);
            }
            li:nth-child(n+10)::before {
                 content: counter(item);
            }
            .active{
                background-color: var(--white);
                position: relative;
                span{
                    font-family: var(--font-family);
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 140%;
                    background: linear-gradient(180deg, #3bb96d 0%, #279a59 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }  
            }
            .active::before{
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 22px;
                line-height: 140%;
                background: linear-gradient(180deg, #3bb96d 0%, #279a59 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .active::after{
                content: "";
                position: absolute;
                width: 10px;
                height: 100%;
                background-color:var(--white);
                top: 0;
                right: -10px;
            }
        }
        .advantages-info{
            border-radius: 10px;
            background: var(--white);
            padding: 11px 21px 35px 21px;
            position: relative;
            h3{
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 30px;
                line-height: 140%;
                color: var(--black);
                margin-bottom: 15px;
                max-width: 490px;
            }
            .line{
                width: 80px;
                height: 2px;
                background: linear-gradient(180deg, #3bb96d 0%, #279a59 38.94%);
                margin-bottom: 15px;
            }
            p{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: var(--gray-text);
                max-width: 595px;
                margin-bottom: 18px;
            }
            .info-item{
                margin-bottom: 15px;
                h3{
                    font-family: var(--font-family);
                    font-weight: 700;
                    font-size: 50px;
                    line-height: 120%;
                    background: linear-gradient(180deg, #3bb96d 0%, #279a59 38.94%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin-bottom: 5px;
                }
                p{
                    font-family: var(--font-family);
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 140%;
                    color: #717992;
                    margin-bottom: 0;
                }
            }
            .info-item:last-child{
                margin-bottom: 0;
            }
            img{
                position: absolute;
                right: 14px;
                bottom: 26px;
            }
        }
    }
}
.partners{
    padding-bottom: 130px;
    .partners-box{
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .partners-item{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 173px;
            height: 90px;
            margin-top: 25px;
        }
        .partners-item:hover{
            box-shadow: 0 4px 20px 0 rgba(52, 52, 52, 0.14);
            background: var(--white);
            border-radius: 5px;
        }
    }
}
.licenses{
    padding: 130px 0;
    background: #f1f5f8;
    position: relative;
    overflow: hidden;
    z-index: -2;
    .licenses-box{
        display: flex;
        justify-content: space-between;
        margin-top: 53px;
        .licenses-item{
            height: 418px;
            position: relative;
            .licenses-rectangle{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 219px;
                filter: blur(80px);
                background: #000;
                opacity: 0.2;
            }
        }
    }
    .stripes-img{
        position: absolute;
        right: -150px;
        top: -330px;
        transform: rotate(-15deg);
        z-index: -1;
    }
}
.contacts{
    display: flex;
    .contact-info{
        flex-basis: 44%;
        background: #272727;
        padding: 110px;
        padding-left: 150px;
        box-sizing: border-box;
        h2{
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 40px;
            line-height: 140%;
            color: var(--white);
            margin-bottom: 30px;
        }
        .contact-list{
            li{
                margin-bottom: 21px;
                p{
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    color: var(--white);
                    margin-bottom: 8px;
                }
                a{
                    font-family: var(--font-family);
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 140%;
                    color: var(--white);
                }
            }
            li:last-child{
                margin-bottom: 30px;
            }
        }
        button{
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 16px;
            line-height: 140%;
            color: var(--white);
            background: linear-gradient(180deg, #3bb96d 0%, #279a59 100%);
            border-radius: 30px;
            padding: 13px 26px;
        }
    }
    .contact-map{
        flex-basis: 56%;
    }
}