/* Base */
@import "./base/reset";
@import "./base/vars";
@import "./base/base";
@import "./base/utils";
@import "./base/containers";
@import "./base/sticky-footer";
@import "./base/fonts";

/* Blocks */
@import "./blocks/*.scss";

.banner{
    background: linear-gradient(180deg, #3bb96d 0%, #279a59 100%);
    .banner-zerg{
        background-image: url(../img/banner-zer.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
}