/* Base */
@import "./base/reset";
@import "./base/vars";
@import "./base/base";
@import "./base/utils";
@import "./base/containers";
@import "./base/sticky-footer";
@import "./base/fonts";

/* Blocks */
@import "./blocks/*.scss";

.banner{
    background: linear-gradient(180deg, #3bb96d 0%, #279a59 100%);
    .banner-zerg{
        background-image: url(../img/banner-zer.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
}
.swiper-slide{
    padding: 108px 0;
    position: relative;
    h2{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 60px;
        line-height: 110%;
        color: var(--white);
        max-width: 450px;
    }
    p{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: var(--white);
        max-width: 450px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    button{
        background: var(--white);
        border-radius: 30px;
        padding: 13px 76px 13px 53px;
        span{
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 16px;
            line-height: 140%;
            background: linear-gradient(180deg, #3bb96d 0%, #279a59 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: relative;
        }
        span::after{
            position: absolute;
            content: '';
            background-image: url(../img/arrow.svg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 18px;
            height: 18px;
            top: 50%;
            transform: translateY(-50%);
            right: -23px;
        }
    }
    img{
        position: absolute;
        right: 0;
        top: 7px;
        z-index: -1;
    }
}
.swiper-pagination-bullet{
    width: 12px !important;
    height: 12px !important;
    border: 1px solid var(--white) !important;
    opacity: 1 !important;
    background: transparent !important;
}
.swiper-pagination-bullet-active{
    background: var(--white) !important;
}